{% extends 'base.html' %}

{% block title %}Detalhes do Histórico de Veículo{% endblock %}

{% block content %}
    <h2>Detalhes do Histórico de Veículo</h2>
    <dl class="row">
        <dt class="col-sm-3">ID do Histórico</dt>
        <dd class="col-sm-9">{{ historico.id_historico }}</dd>

        <dt class="col-sm-3">Veículo</dt>
        <dd class="col-sm-9">
            {% for veiculo in veiculos %}
                {% if veiculo.id == historico.id_veiculo %}
                    (ID: {{ veiculo.id }}) {{ veiculo.marca }} 
                {% endif %}
            {% endfor %}
        </dd>


        <dt class="col-sm-3">Manutenções</dt>
        <dd class="col-sm-9">{{ historico.manutencoes }}</dd>

        <dt class="col-sm-3">Acidentes</dt>
        <dd class="col-sm-9">{{ historico.acidentes }}</dd>

        <dt class="col-sm-3">Dono Anterior</dt>
        <dd class="col-sm-9">{{ historico.dono_anterior }}</dd>
    </dl>
    
    <a href="{% url 'historico_editar' historico.id_historico %}" class="btn btn-warning">Editar Histórico</a>
    <a href="{% url 'historico_excluir' historico.id_historico %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este histórico?')">Excluir Histórico</a>
    <a href="{% url 'historico_listar' %}" class="btn btn-secondary">Voltar para a lista</a>
{% endblock %}
